.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px;
  
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #666;
    background-color: rgb(255, 255, 255);
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box {
    height: 80px;
    width: 80px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(226, 224, 68);
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.box.over {
    border: 3px dotted #666;
}



@keyframes wave {
    0% { 
      left: -80px; 
    }
    100% { 
      left: 0; 
    }
  }
  
  .wave-container {
    width: 100px;
    overflow: hidden;
  }
 
  .wave-container svg {
    position: relative;
    left: -50px;
    width: 200px;
    animation: wave 2s linear infinite;
  }

.glass-container {
    background: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.repositorio {
    height: 300px;
    width: 100px;
    
}



